<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Hi Admin</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Data</div>
                <a class="nav-link" href="/admin/data/users">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Users
                </a>
                <a class="nav-link" href="/admin/data/roles">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Roles
                </a>
                <a class="nav-link" href="/admin/data/artwork">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Artwork
                </a>
            </div>
        </div>
    </nav>
</div>