<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artauk | <%= title %></title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Artauk</h1>
    </header>

    <!-- Navigation -->
    <nav></nav>

    <!-- Content -->
    <main></main>

    <!-- Sidebar -->
    <aside></aside>

    <!-- Footer -->
    <footer></footer>
</body>
</html>
