<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/nav") %>
    
    <!-- Content -->
    <main>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Signup</a>
    </main>
    
    <!-- Sidebar -->
    <aside></aside>
        
    <%- include("./partials/footer") %>
</body>
</html>
