<!-- Header -->
<header>
    <!-- Logo -->
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Artauk Logo"></a>
    </div>
    
    <div class="auth-buttons">
        <% if (user != null) { %>
            <p><%= user %>!</strong></>
            <a href="/profile" class="profile">Profile</a>
            <a href="/dashboard" class="dashboard">Dashboard</a>
            <form class="logout" action="/auth/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        <% } else { %>
            <a href="/auth/login" class="sign-in">Sign In</a>
            <a href="/auth/register" class="register-btn">Register</a>
        <% } %>
    </div>
</header>
