<nav class="site-nav">
    <ul class="nav-list">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/explore/showcase" class="nav-link">Explore</a></li>
        <li><a href="#" class="nav-link">Auctions</a></li>
    </ul>
</nav>
